<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    
    <h1>The Home Page <%= "hello world".toUpperCase()%></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Officia similique asperiores dicta neque quas? Deserunt voluptatem,
        molestias sit omnis optio debitis magnam quod labore,
        aspernatur officiis inventore ex esse perferendis!
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Officia similique asperiores dicta neque quas? Deserunt voluptatem,
        molestias sit omnis optio debitis magnam quod labore,
        aspernatur officiis inventore ex esse perferendis!
    </p>
</body>
</html>