body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;

    /*105_FlexDirection*/
    /*
    flex-direction: row;
    flex-direction: row-reverse;    
    flex-direction: column;
    flex-direction: column-reverse;
    */

    /*106_JustifyContent*/
    /*
    flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: flex-end;
    */

    /*107_FlexWrap*/
    /*
    flex-direction: row;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    flex-wrap: nowrap
    flex-wrap: wrap-reverse;
    */

    /*108_AlignItems*/
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    */
}

#container div {
    width: 200px;
    height: 200px;
    text-align: center;
    /*108_AlignItems*/
    /*
    font-size: 4em;
    */
}